@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@theme {
  --color-dark-teal: #256b67;
  --color-aquamarine: #9deab4;
  --color-lightblue: #66dff5;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-center-col {
    @apply flex justify-center items-center flex-col;
  }
  .flex-center-row {
    @apply flex justify-center items-center flex-row;
  }
  .link {
    @apply bg-lightblue text-dark-teal px-4 py-2 rounded hover:bg-aquamarine font-semibold;
  }
  .link-reverse {
    @apply bg-dark-teal text-white px-4 py-2 rounded hover:bg-aquamarine hover:text-dark-teal font-semibold;
  }
  .sub-head {
    @apply text-3xl font-bold mb-6 mt-3;
  }
  .input-design {
    @apply w-full border rounded px-3 py-2;
  }
}
